<script src="{{ url_for('static',filename='js/index.js') }}"></script>

{% extends 'base.html' %}


{% block contents %}
    <div class="right_bar">
        <div class="contents">
        </div>
        <div class="image">
            <img class="Ener" src="https://pbs.twimg.com/profile_images/1081070799358849024/4g67jhaR_400x400.jpg">

        </div>

        <div class="teamname">
            <h1> 에너자이조 </h1>
        </div>
        <div class="teaminfo">
            <h4> 팀 설명 </h4>
        </div>
        <div class="comment">
            <div>
                <input class="comment_name" id="x" type="text" placeholder="이름">
            </div>
            <input class="comment_text" id="reply" type="text" placeholder="댓글 달기">
            <button onclick="submit()" type="button">등록</button>
        </div>
        <div>
            <tbody id="comments"></tbody>

        </div>

    </div>
{% endblock %}