<script src="{{ url_for('static',filename='js/nav.js') }}"></script>

<div class="container">
    <div class="main_title">
        <img src="{{url_for('static', filename='img/logo.png')}}">
    </div>
    <div class="left_bar">
        <div class="category">
                <button onclick="location.href='/'">팀소개</button>
                <button onclick=" detail_get(this);" value="김미영">김미영</button>
                <button onclick="detail_get(this);" value="박지홍">박지홍</button>
                <button onclick="detail_get(this);" value="송지명">송지명</button>
                <button onclick="detail_get(this);" value="이상민">이상민</button>
        </div>
        {% block left_image %}
            <div class="left_image">
                <div>사진</div>
            </div>
        {% endblock %}
    </div>
    <div class="right_bar">
        <div class="contents">
            <div id="test"></div>
        </div>
    </div>


<script>
    $('.open_modal').click(function () {
        $('.Modal').fadeIn()
    })
    $('.close_modal').click(function () {
        $('.Modal').fadeOut()
    })
</script>

